<template lang='pug'>
	.bg-white
		.container.mx-auto.px-4
			.flex.items-center.py-4.justify-between
				.text-left.w-auto.flex-shrink
					router-link.text-black.text-2xl.font-medium.px-2.tracking-wider.flex.flex-row.items-center.justify-start(to='/', class='hover:text-grey-darker')
						img.flex.w-8.h-8.mr-2(src='../../assets/logo-pu.jpg')
						.flex GIS Embung
				.text-center(class='w-1/2').flex.justify-start.items-center.relative
					router-link.h-8.bg-transparent.text-grey-darker.font-semibold.text-sm.py-2.px-4.mx-1.border-b.border-grey-light.uppercase.tracking-wider.rounded-none(v-for='frontpage, key in frontend', v-if='!isDashboard', :to='frontpage.path', class='hover:bg-grey-lightest', :key='key') {{frontpage.display_name}}
					.text-sm.text-grey-dark.tracking-wider.w-full.text-center(v-if='user && !isDashboard') {{user.email}}
					.text-sm.text-grey-dark.tracking-wider.w-full.text-center(v-if='user && isDashboard') {{user.email}}
				.text-right(class='w-1/4').flex.justify-end
					router-link.h-8.bg-transparent.text-grey-darker.font-semibold.text-sm.py-2.px-4.border.border-grey-light.uppercase.tracking-wider(:to='signin.path', v-if='!user', class='hover:bg-grey-lightest') {{signin.display_name}}
					router-link.h-8.bg-transparent.text-grey-darker.font-semibold.text-sm.py-2.px-4.border.border-grey-light.uppercase.tracking-wider.mr-2(:to='dashboard.path', v-if='!isDashboard && user', class='hover:bg-grey-lightest') {{dashboard.display_name}}
					button.h-8.bg-transparent.text-grey-darker.font-semibold.text-sm.py-2.px-4.border.border-grey-light.uppercase.tracking-wider(@click='signOut()', v-if='user', class='hover:bg-grey-lightest') Sign Out
</template>
<script>
import firebase from "firebase/app"
import "firebase/auth"

export default {
	computed: {
		isDashboard() {
			if (this.$router.history.current.name == "dashboard" || this.$router.history.current.name == "data") {
				return true
			} else {
				return false
			}
		},
		user() {
			return this.$store.getters.getUser
		}
	},
	data: function() {
		return {
			dashboard: this.$router.options.routes[9],
			signin: this.$router.options.routes[4],
			frontend: {
				home: this.$router.options.routes[0],
				map: this.$router.options.routes[1]
			}
		}
	},
	methods: {
		signOut: function() {
		firebase
			.auth()
			.signOut()
			.then(() => {
				this.$store.commit("setUser", null)
				this.$router.replace("signin")
			})
			.catch(err => alert(err.message || err))
		}
	}
}
</script>
