<template lang='pug'>
	.collapsed
		.sidebar-tabs
			ul(role='tablist')
				li(v-for="icon, key in sidebarMenus")
					a(:href='"#"+key', role='tab')
						i(:class='icon')
		.sidebar-content
			.sidebar-pane#properti
				h1.sidebar-header(v-if='embung') {{embung.properti.nama}}
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm No
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.no}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kode
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative.uppercase {{embung.properti.kode}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kabupaten
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.kabupaten}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kecamatan
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.kecamatan}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Desa
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.desa}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Dusun
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.dusun}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Koordinat
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.koordinat._lat}},{{embung.properti.koordinat._long}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.properti.foto')
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi Sedimentasi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.kondisi_sedimentasi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Luas Wilayah DAS
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.luas_wilayah_das}} Ha
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Luas Area Potensi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.luas_area_potensi}} Ha
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Jumlah KK
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.jumlah_kk}} KK
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Struktur Organisasi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.struktur_organisasi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Rencana Pengembangan
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.properti.rencana_pengembangan}}
			.sidebar-pane#tanggul
				h1.sidebar-header(v-if='embung') Tanggul
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Panjang
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tanggul.panjang}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Tinggi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tanggul.tinggi}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Lebar Atas
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tanggul.lebar_atas}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Lebar Bawah
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tanggul.lebar_bawah}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tanggul.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.tanggul.foto')
			.sidebar-pane#tampungan
				h1.sidebar-header(v-if='embung') Tampungan
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Volume
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tampungan.volume}} m3
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.tampungan.kondisi}}
			.sidebar-pane#pelampung
				h1.sidebar-header(v-if='embung') Pelampung dan Peilscale
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.pelampung.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.pelampung.foto')
			.sidebar-pane#boxstopkran
				h1.sidebar-header(v-if='embung') Box Stop Kran
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.box_stop_kran.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.box_stop_kran.foto')
			.sidebar-pane#spillway
				h1.sidebar-header(v-if='embung') Spillway
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Panjang
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.spillway.panjang}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Lebar
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.spillway.lebar}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.spillway.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.spillway.foto')
			.sidebar-pane#jaringan
				h1.sidebar-header(v-if='embung') Jaringan
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Panjang
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.jaringan.panjang}} m
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.jaringan.kondisi}}
			.sidebar-pane#bak
				h1.sidebar-header(v-if='embung') Bak
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Jumlah
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.bak.jumlah}} buah
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Bak Manusia
					.flex.flex-wrap.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						figure.p-1.border-2.border-dotted.my-1(v-for="(manusia, key, index) in embung.bak.manusia", :key="key")
							img.w-64(:src='manusia.foto')
							figcaption.text-xs.mb-1 {{manusia.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Bak Hewan
					.flex.flex-wrap.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						figure.p-1.border-2.border-dotted.my-1(v-for="(hewan, key, index) in embung.bak.hewan", :key="key")
							img.w-64(:src='hewan.foto')
							figcaption.text-xs.mb-1 {{hewan.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Bak Kebun
					.flex.flex-wrap.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						figure.p-1.border-2.border-dotted.my-1(v-for="(kebun, key, index) in embung.bak.kebun", :key="key")
							img.w-64(:src='kebun.foto')
							figcaption.text-xs.mb-1 {{kebun.kondisi}}
			.sidebar-pane#pagar
				h1.sidebar-header(v-if='embung') Pagar
				.mt-10.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Kondisi
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative {{embung.pagar.kondisi}}
				.flex.flex-wrap.items-stretch.w-full.my-2.relative(v-if='embung')
					.flex.-mr-px
						span.flex.items-center.leading-normal.bg-grey-lighter.rounded.rounded-r-none.border.border-r-0.border-grey-light.px-3.whitespace-no-wrap.text-grey-dark.text-sm Foto
					.flex.items-center.justify-end.text-right.flex-shrink.flex-grow.flex-auto.leading-normal.w-px.flex-1.border.min-h-10.border-grey-light.rounded.rounded-l-none.px-3.relative
						img.w-64.my-2(:src='embung.pagar.foto')
</template>
<script>
export default {
	data: function() {
		return {
			sidebarMenus: {
				properti: 'fas fa-info',
				tanggul: 'fas fa-shield-alt',
				tampungan: 'fas fa-drum-steelpan',
				pelampung: 'fas fa-map-pin',
				boxstopkran: 'fas fa-box',
				spillway: 'fas fa-fill-drip',
				jaringan: 'fas fa-globe',
				bak: 'fas fa-inbox',
				pagar: 'fas fa-ruler-horizontal',
			}
		};
	},
	props: {
		embung: {
			type: Object,
			default: function() {
				return {}
			}
		}
	}
};
</script>
