<template lang='pug'>
	.block.bg-white.border-b
		.container.mx-auto.px-4
			.flex
				.flex.-mb-px.mr-8
					router-link.no-underline.flex.items-center.py-4.border-white.rounded-none.text-grey-dark(v-bind:class='{ "border-b-2 md:text-grey-darker md:border-grey-darker" : isDashboard }', :to='dashboard.path')
						svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
							path(fill-rule='evenodd', d='M3.889 3h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H3.89A.9.9 0 0 1 3 12.09V3.91A.9.9 0 0 1 3.889 3zM3.889 15h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H3.89C3.398 21 3 20.616 3 20.143v-4.286c0-.473.398-.857.889-.857zM13.889 11h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H13.89a.9.9 0 0 1-.889-.91v-8.18a.9.9 0 0 1 .889-.91zM13.889 3h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H13.89C13.398 9 13 8.616 13 8.143V3.857c0-.473.398-.857.889-.857z')
						| {{dashboard.display_name}}
				.flex.-mb-px.mr-8
					router-link.no-underline.flex.items-center.py-4.border-white.rounded-none.text-grey-dark(v-bind:class='{ "border-b-2 md:text-grey-darker md:border-grey-darker" : !isDashboard }', :to='data.path')
						svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
							path(d='M8 7h10V5l4 3.5-4 3.5v-2H8V7zm-6 8.5L6 12v2h10v3H6v2l-4-3.5z', fill-rule='nonzero')
						| {{data.display_name}}
</template>
<script>
export default {
	data: function() {
		return {
			dashboard: this.$router.options.routes[9],
			data: this.$router.options.routes[10],
			isDashboard: this.$route.name === 'dashboard',
			routename: this.$route.name
		};
	}
};
</script>
