<template lang="pug">
	div.w-full.h-full.overflow-hidden
		Navbar.z-10.absolute.w-screen
		Sidebar#sidebar.sidebar(:embung="currentEmbungData", v-show="isSidebarOpened")
		#map.w-screen.h-screen.z-0.sidebar-map.absolute
</template>
<script>
import leaflet from 'leaflet'
require('../assets/javascripts/sidebar.js')
import Navbar from "./partials/Navbar";
import Sidebar from "./partials/Sidebar";
export default {
	beforeCreate: function() {
		this.$store.commit("setEmbungs");
	},
	components: { Navbar, Sidebar },
	computed: {
		embungs() {
			return this.$store.getters.getEmbungs;
		}
	},
	data() {
		return {
			currentEmbungData: null,
			map: null,
			tileLayer: null,
			layers: {
				markers: {},
				popups: {},
				sidebar: null,
				zoom: null
			},
			isSidebarOpened: false,
		};
	},
	mounted: function() {
		this.initMap()
		this.initLayer()
	},
	methods: {
		initMap() {
			this.tileLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
				attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
				tileSize: 512,
				maxZoom: 18,
				zoomOffset: -1,
				id: 'mapbox/streets-v11',
				accessToken: 'pk.eyJ1IjoiYW5nZ2llZGltYXN0YSIsImEiOiJjam01MXJjYWwxNzJqM3JvMmRtaWNmNnNnIn0.9YCeDTZsUqRRtdQTpPLd9g'
			})
			this.map = L.map("map", {
				center: [-9.5867689, 122.105728],
				zoom: 8,
				zoomControl: false,
				layers: [this.tileLayer]
			});
		},
		initLayer() {
			this.layers.sidebar = L.control.sidebar("sidebar");
			this.layers.zoom = L.control.zoom({
				position: "bottomright"
			});
			this.layers.sidebar.addTo(this.map);
			this.layers.zoom.addTo(this.map);
			setTimeout(() => {
				this.initMarker();
				this.initSelect();
			}, 2500);
		},
		initMarker() {
			let embungIcon = new L.Icon({
				iconUrl: "../../static/assets/icons/embung.png",
				iconSize: [50, 50],
				iconAnchor: [25, 25],
				popupAnchor: [-25, 0],
				shadowSize: [0, 0]
			});
			for (var embung in this.embungs) {
				if (this.embungs.hasOwnProperty(embung)) {
					var embungData = this.embungs[embung];

					this.layers.popups[embung] = new L.Popup({
						autoClose: false,
						closeButton: false,
						closeOnClick: false,
						closeOnEscapeKey: false
					});
					this.layers.popups[embung].setLatLng(
						new L.LatLng(
							embungData.properti.koordinat.latitude,
							embungData.properti.koordinat.longitude
						)
					);
					this.layers.popups[embung].setContent(embungData.properti.nama);
					this.layers.popups[embung].addTo(this.map);

					this.layers.markers[embung] = L.marker(
						[
							embungData.properti.koordinat.latitude,
							embungData.properti.koordinat.longitude
						],
						{
							data: embungData,
							icon: embungIcon
						}
					).on("click", this.markerClick);
					this.layers.markers[embung].addTo(this.map);
				}
			}
		},
		createCustomSelect(embungs) {
			L.EmbungSelect = {};
			L.EmbungSelect.embungs = embungs;
			L.EmbungSelect = L.Control.extend({
				options: {
					position: 'bottomright',
					title: 'Pilih Embung',
					embungs: L.EmbungSelect.embungs
				},
				onAdd: function(map) {
					this.div = L.DomUtil.create('div','leaflet-embungselect-container');
					this.select = L.DomUtil.create('select','leaflet-embungselect', this.div);
					var content = '';

					if (this.options.title.length > 0 ){
						content += '<option>'+this.options.title+'</option>';
					}
					for (var embung in this.options.embungs){
						if (this.options.embungs.hasOwnProperty(embung)) {
							var embungData = this.options.embungs[embung];
							content+='<option id-embung='+embung+'>'+embungData.properti.nama+'</option>';
						}
					}

					this.select.innerHTML = content;
					this.select.onmousedown = L.DomEvent.stopPropagation;

					return this.div;
				},
				on: function(type, handler){
					if (type == 'change'){
						this.onChange = handler;
						L.DomEvent.addListener(this.select,'change',this._onChange,this);
					} else {
						console.log('EmbungSelect - cannot handle '+type+' events.')
					}
				},
				_onChange: function(e) {
					var selectedEmbung = this.select.options[this.select.selectedIndex].getAttribute('id-embung');
					e.feature = this.options.embungs[selectedEmbung];
					this.onChange(e);
				}
			});
			L.embungSelect = function(id, options){
				return new L.EmbungSelect(id, options);
			};
		},
		initSelect() {
			this.createCustomSelect(this.embungs);
			var select = L.embungSelect();
			select.addTo(this.map);

			var map = this.map;

			select.on('change', function(e){
				if (e.feature === undefined){ //Do nothing on title
					return;
				}
				map.panTo([e.feature.properti.koordinat.latitude, e.feature.properti.koordinat.longitude]);
			})
			map.panTo([-8.5947222, 119.8868611])
		},
		markerClick(embung) {
			this.currentEmbungData = embung.target.options.data;
			if (this.isSidebarOpened) {
				this.isSidebarOpened = false
				this.layers.sidebar.close()
			} else {
				this.isSidebarOpened = true
				this.layers.sidebar.open("properti")
			}
		}
	},
	name: "Home"
};
</script>
