<template lang="pug">
	div.w-full.h-full.overflow-hidden
		Navbar.z-10.absolute.w-screen
		section.bg-white.pt-32.pb-8.overflow-hidden
			.max-w-lg.ml-auto.mr-auto.mt-8.mb-8(class='w-5/6')
				.flex.flex-col.flex-row.items-center.justify-center
					p.text-xl.leading-normal.mr-6.mb-8.mb-0.text-center.text-left This could be a call to action.
					button.bg-blue.text-xl.leading-none.text-white.font-semibold.h-10.px-6.rounded-full.whitespace-no-wrap(class='hover:bg-blue-dark') Get started
		section.bg-white.py-8.overflow-hidden
			.max-w-lg.ml-auto.mr-auto.mt-8.mb-8(class='w-5/6')
				.flex.flex-col.justify-center.text-center.pb-8
					h2.text-5xl.font-semibold.leading-none.tracking-tight.mb-4 Flexible pricing for your inflexible needs
					h3.text-3xl.text-blue-darker.opacity-75.font-normal.leading-none.mb-8 14-day free trial. No credit card required.
				.bg-white.rounded.shadow-lg.overflow-hidden
					.flex.flex-row
						.flex-1
							.bg-grey-lightest.p-8
								h5.text-xl.font-semibold.mb-8 What you get when you sign up:
								ul.list-reset
									li.mb-4
										.flex.items-center
											.mr-4
												svg.align-middle.text-teal(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
													path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
													polyline(points='22 4 12 14.01 9 11.01')
											p.text-lg.leading-normal Unlimited everything
									li.mb-4
										.flex.items-center
											.mr-4
												svg.align-middle.text-teal(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
													path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
													polyline(points='22 4 12 14.01 9 11.01')
											p.text-lg.leading-normal Unlimited limitlessness
									li.mb-4
										.flex.items-center
											.mr-4
												svg.align-middle.text-teal(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
													path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
													polyline(points='22 4 12 14.01 9 11.01')
											p.text-lg.leading-normal Single sign-on
									li
										.flex.items-center
											.mr-4
												svg.align-middle.text-teal(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
													path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
													polyline(points='22 4 12 14.01 9 11.01')
											p.text-lg.leading-normal Code export HAHAHA
						.flex-1
							.flex.flex-col.items-center.p-8.h-full
								.flex.flex-1.mb-8
									.flex.self-start.items-center
										span.text-3xl.text-grey-dark.leading-none.mr-2 $
										span.text-5xl.font-semibold.tracking-tight.leading-none.text-teal.mr-3(style='font-size: 5.6rem;') 499
										span.text-xl.text-grey-dark.leading-none / month
								button.bg-teal.text-xl.leading-none.text-white.font-semibold.h-10.px-6.rounded-full.whitespace-no-wrap.w-full(class='hover:bg-teal-dark') Take my money
			.max-w-md.ml-auto.mr-auto.pt-8.mt-8.mb-8(class='w-5/6')
				.flex.flex-wrap.-mx-6.-my-6
					.px-6.py-6(class='w-1/2')
						h3.text-xl.font-semibold.leading-tight.mb-3 Can I use these templates for free?
						p.text-lg.leading-normal.text-grey-darker.mb-8 Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.
					.px-6.py-6(class='w-1/2')
						h3.text-xl.font-semibold.leading-tight.mb-3 Can I use these templates for free?
						p.text-lg.leading-normal.text-grey-darker.mb-8 Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.
					.px-6.py-6(class='w-1/2')
						h3.text-xl.font-semibold.leading-tight.mb-3 Can I use these templates for free?
						p.text-lg.leading-normal.text-grey-darker.mb-8 Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.
					.px-6.py-6(class='w-1/2')
						h3.text-xl.font-semibold.leading-tight.mb-3 Can I use these templates for free?
						p.text-lg.leading-normal.text-grey-darker.mb-8 Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.
</template>
<script>
import Navbar from "./partials/Navbar";
export default {
	components: { Navbar },
	name: "MapService"
};
</script>
