<template lang='pug'>
	#signup
		.container.mx-auto.p-4
			.mx-auto.max-w-sm
				.py-4.text-center
					img.w-32.h-32(src='../assets/logo-pu.jpg')
				.bg-white.rounded.shadow
					.border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase Welcome back!
					form.bg-grey-lightest.px-10.py-10(v-on:submit.prevent='')
						.mb-3
							input.border.w-full.p-3.rounded-lg(v-model='email', type='text', placeholder='Email')
						.mb-6
							input.border.w-full.p-3.rounded-lg(v-model='password', type='password', placeholder='Password')
						.flex
							button.bg-green.w-full.p-4.text-sm.text-white.uppercase.font-bold.tracking-wider(v-on:click='signUp', class='hover:bg-green-light') Sign Up
					.border-t.px-10.py-6
						.flex.justify-between
							router-link.font-bold.text-blue.no-underline(to='signin', class='hover:text-blue-light') Already have an account?
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

export default {
	name: "SignUp",
	data: function() {
		return {
			email: "",
			password: ""
		};
	},
	methods: {
		signUp: function() {
			firebase
				.auth()
				.createUserAndRetrieveDataWithEmailAndPassword(
					this.email,
					this.password
				)
				.then(
					user => {
						alert("User has been created!");
						this.$router.replace("signin");
					},
					err => {
						alert("Oops " + err.message);
					}
				);
		}
	}
};
</script>
