<template lang='pug'>
	#sign-in
		.container.mx-auto.p-4.z-10.relative
			.mx-auto.max-w-sm
				.py-4.text-center
					img.w-32.h-32(src='../assets/logo-pu.jpg')
				.bg-white.rounded-lg.shadow.overflow-hidden
					.border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase Welcome back!
					form.bg-grey-lightest.px-10.py-10(v-on:submit.prevent='')
						.mb-3
							input.border.w-full.p-3.rounded-lg(v-model='email', type='text', placeholder='Email')
						.mb-6
							input.border.w-full.p-3.rounded-lg(v-model='password', type='password', placeholder='Password')
						.flex
							button.bg-blue.w-full.p-4.text-sm.text-white.uppercase.font-bold.tracking-wider(v-on:click='signIn', class='hover:bg-blue-light') Sign In
					//- .border-t.px-10.py-6
						.flex.justify-between
							router-link.font-bold.text-blue.no-underline(to='/signup', class='hover:text-blue-light') Don't have an account?
							router-link.text-grey-darkest.no-underline(to='#', class='hover:text-black') Forgot Password?
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

export default {
  name: "SignIn",
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    signIn: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.$store.commit("setUser", user);
            this.$router.replace("dashboard");
          },
          err => {
            alert("Oops " + err.message);
          }
        );
    }
  }
};
</script>
