<template lang="pug">
	#dashboard.bg-grey-lighter.flex.flex-col.min-h-screen
		div.z-10
			Navbar
			SubNavbar
		.flex-grow.container.max-w-3xl.mx-auto.pt-6.pb-8.z-10.relative(class='sm:px-4')
			.bg-white.shadow.mb-6
				.flex
					.table-responsive
						table.table.table-striped
							thead.bg-white.text-black
								tr
									th No
									th Kode
									th Nama
									th Kabupaten
									th Kecamatan
									th Desa
									th Dusun
									th Koordinat
									th Foto Embung
									th Kondisi Sedimentasi
									th Luas Wilayah DAS
									th Luas Area Potensi
									th Jumlah KK
									th Struktur Organisasi
									th Rencana Pengembangan
									th Panjang Tanggul
									th Tinggi Tanggul
									th Lebar Atas Tanggul
									th Lebar Bawah Tanggul
									th Kondisi Tanggul
									th Foto Tanggul
									th Volume Tampungan
									th Kondisi Tampungan
									th Kondisi Pelampung dan Peilscale
									th Foto Pelampung dan Peilscale
									th Kondisi Box Stop Kran
									th Foto Box Stop Kran
									th Panjang Spillway
									th Lebar Spillway
									th Kondisi Spillway
									th Foto Spillway
									th Panjang Jaringan
									th Kondisi Jaringan
									th Jumlah Bak
									th Bak Manusia
									th Bak Hewan
									th Bak Kebun
									th Kondisi Pagar Pengaman
									th Foto Pagar Pengaman
									th Opsi
							tbody
								tr(v-for="(embung, key, index) in embungs", :key="key")
									td
										span(v-if='isExist(embung, "no")') {{embung.no}}
									td.uppercase
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "kode")') {{embung.properti.kode}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "nama")') {{embung.properti.nama}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "kabupaten")') {{embung.properti.kabupaten}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "kecamatan")') {{embung.properti.kecamatan}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "desa")') {{embung.properti.desa}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "dusun")') {{embung.properti.dusun}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "koordinat") && isExist(embung.properti.koordinat, "_lat")') {{embung.properti.koordinat._lat}}
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "koordinat") && isExist(embung.properti.koordinat, "_lat") && isExist(embung.properti.koordinat, "_long")') ,
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "koordinat") && isExist(embung.properti.koordinat, "_long")') {{embung.properti.koordinat._long}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "foto")')
											img.max-w-xs(:src='embung.properti.foto')
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "kondisi_sedimentasi")') {{embung.properti.kondisi_sedimentasi}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "luas_wilayah_das")') {{embung.properti.luas_wilayah_das}} Ha
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "luas_area_potensi")') {{embung.properti.luas_area_potensi}} Ha
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "jumlah_kk")') {{embung.properti.jumlah_kk}} KK
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "struktur_organisasi")') {{embung.properti.struktur_organisasi}}
									td
										span(v-if='isExist(embung, "properti") && isExist(embung.properti, "rencana_pengembangan")') {{embung.properti.rencana_pengembangan}}
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "panjang")') {{embung.tanggul.panjang}} m
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "tinggi")') {{embung.tanggul.tinggi}} m
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "lebar_atas")') {{embung.tanggul.lebar_atas}} m
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "lebar_bawah")') {{embung.tanggul.lebar_bawah}} m
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "kondisi")') {{embung.tanggul.kondisi}}
									td
										span(v-if='isExist(embung, "tanggul") && isExist(embung.tanggul, "foto")')
											img.max-w-xs(:src='embung.tanggul.foto')
									td
										span(v-if='isExist(embung, "tampungan") && isExist(embung.tampungan, "volume")') {{embung.tampungan.volume}} m3
									td
										span(v-if='isExist(embung, "tampungan") && isExist(embung.tampungan, "kondisi")') {{embung.tampungan.kondisi}}
									td
										span(v-if='isExist(embung, "pelampung") && isExist(embung.pelampung, "kondisi")') {{embung.pelampung.kondisi}}
									td
										span(v-if='isExist(embung, "pelampung") && isExist(embung.pelampung, "foto")')
											img.max-w-xs(:src='embung.pelampung.foto')
									td
										span(v-if='isExist(embung, "box_stop_kran") && isExist(embung.box_stop_kran, "kondisi")') {{embung.box_stop_kran.kondisi}}
									td
										span(v-if='isExist(embung, "box_stop_kran") && isExist(embung.box_stop_kran, "foto")')
											img.max-w-xs(:src='embung.box_stop_kran.foto')
									td
										span(v-if='isExist(embung, "spillway") && isExist(embung.spillway, "panjang")') {{embung.spillway.panjang}} m
									td
										span(v-if='isExist(embung, "spillway") && isExist(embung.spillway, "lebar")') {{embung.spillway.lebar}} m
									td
										span(v-if='isExist(embung, "spillway") && isExist(embung.spillway, "kondisi")') {{embung.spillway.kondisi}}
									td
										span(v-if='isExist(embung, "spillway") && isExist(embung.spillway, "foto")')
											img.max-w-xs(:src='embung.spillway.foto')
									td
										span(v-if='isExist(embung, "jaringan") && isExist(embung.jaringan, "panjang")') {{embung.jaringan.panjang}} m
									td
										span(v-if='isExist(embung, "jaringan") && isExist(embung.jaringan, "kondisi")') {{embung.jaringan.kondisi}}
									td
										span(v-if='isExist(embung, "bak") && isExist(embung.bak, "jumlah")') {{embung.bak.jumlah}}
									td
										span(v-if='isExist(embung, "bak") && isExist(embung.bak, "manusia")')
											figure.p-1.border-2.border-dotted.my-1(v-for="(manusia, key, index) in embung.bak.manusia", :key="key")
												img.max-w-xs.mb-1(v-if='isExist(manusia, "foto")', :src='manusia.foto')
												figcaption.min-w-0.min-h-0.text-xs.mb-1(v-if='isExist(manusia, "kondisi")') {{manusia.kondisi}}
									td
										span(v-if='isExist(embung, "bak") && isExist(embung.bak, "hewan")')
											figure.p-1.border-2.border-dotted.my-1(v-for="(hewan, key, index) in embung.bak.hewan", :key="key")
												img.max-w-xs.mb-1(v-if='isExist(hewan, "foto")', :src='hewan.foto')
												figcaption.text-xs.mb-1(v-if='isExist(hewan, "kondisi")') {{hewan.kondisi}}
									td
										span(v-if='isExist(embung, "bak") && isExist(embung.bak, "kebun")')
											figure.p-1.border-2.border-dotted.my-1(v-for="(kebun, key, index) in embung.bak.kebun", :key="key")
												img.max-w-xs.mb-1(v-if='isExist(kebun, "foto")', :src='kebun.foto')
												figcaption.text-xs.mb-1(v-if='isExist(kebun, "kondisi")') {{kebun.kondisi}}
									td
										span(v-if='isExist(embung, "pagar") && isExist(embung.pagar, "kondisi")') {{embung.pagar.kondisi}}
									td
										span(v-if='isExist(embung, "pagar") && isExist(embung.pagar, "foto")')
											img.max-w-xs(:src='embung.pagar.foto')
									td
										ul.list-reset
											li.w-24
												router-link.text-white.py-2.px-3.bg-blue.rounded-lg.w-full(:to='edit + "/" + key')
													i.fas.fa-edit
													span.pl-1 Edit
											li.w-24.mt-6
												button.text-white.py-2.px-3.bg-red.rounded-lg.w-full(type='button', @click='deleteEmbung(key)')
													i.fas.fa-trash
													span.pl-1 Delete
		.bg-white.border-t
			.container.mx-auto.px-4
				.items-center.py-4.flex.justify-center
					.text-grey-dark.text-center(class='md:mr-4') © 2018 Dinas PU
</template>

<script>
import Navbar from "../partials/Navbar"
import SubNavbar from "../partials/SubNavbar"
import toastr from 'toastr'
import firebase from 'firebase/app'
import 'firebase/firestore'
import 'firebase/storage'

toastr.options = {
	"closeButton": false,
	"debug": false,
	"newestOnTop": false,
	"progressBar": false,
	"positionClass": "toast-top-right",
	"preventDuplicates": false,
	"onclick": null,
	"showDuration": "300",
	"hideDuration": "1000",
	"timeOut": "5000",
	"extendedTimeOut": "1000",
	"showEasing": "swing",
	"hideEasing": "linear",
	"showMethod": "fadeIn",
	"hideMethod": "fadeOut"
}


export default {
	beforeCreate: function() {
		this.$store.commit("setEmbungs");
	},
	data: function() {
		return {
			edit: '/dashboard/edit'
		};
	},
	computed: {
		embungs() {
			return this.$store.getters.getEmbungs;
		}
	},
	components: { Navbar, SubNavbar },
	name: "Dashboard",
	methods: {
		deleteEmbung: function (id) {
			var embungsCollection = firebase.firestore().collection('embung')
			var embungsStorage = firebase.storage().ref('embung')
			embungsCollection.doc(id)
				.delete()
				.then(function() {
					embungsStorage.child(id)
						.delete()
						.then(function() {
							toastr.error(id + " successfully deleted!");
						}).catch(function(error) {
							console.error("Error removing " + id + ": ", error);
						});
				}).catch(function(error) {
					console.error("Error removing " + id + ": ", error);
				});
		},
		isExist: function (object, id) {
			return object.hasOwnProperty(id)
		}
	}
};
</script>
