/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@import 'sidebar/sidebar'

*, *:before, *:after, *:focus, *:active
	box-sizing: border-box
	@apply font-sans
	@apply outline-none
	@apply no-underline

a, button
	@apply rounded-full

	&.leaflet-control-zoom-in, &.leaflet-control-zoom-out
		@apply rounded-none

body, #app, #sign-in, #data
	@apply min-h-screen

html
	@apply min-w-full
	@apply overflow-x-hidden

td
	@apply px-1

#dashboard, #sign-in, #data, .edit, #home
	@apply bg-cover
	background: url(../komodo-bg.jpg) no-repeat center center fixed

	&:before
		@apply fixed
		@apply h-screen
		@apply pin
		@apply w-screen
		@apply z-0
		background-image: linear-gradient(to bottom, rgba(255,255,255,1) 20%, rgba(255,255,255,.8) 60%, rgba(255,255,255,0) 100%)
		content: ''

.leaflet-touch .leaflet-bar
	@apply border-none

.sidebar-header
	@apply fixed
	@apply w-full
	@apply z-10

.table thead th
	@apply uppercase
	@apply align-middle
